
 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn1-page2">Carmatch votre guide d'achat personnalisé</button>
                        <h2 class="txt-c1"> Trouvez votre prochaine voiture facilement</h2>
                        <h1 class="fw-100"> QU'EST-CE QUE IDEALEVOITURE</h1>
                        <p> <span class="txt-c1 fw-600">IDEALEVOITURE</span> est un moteur de recherche dédié à l'automobile pouvant vous accompagner jusqu'à l'acquisition de votre nouveau véhicule.</p>
                        <h1 class="fw-100 mt-3">COMMENT ÇA FONCTIONNE</h1>
                        <p>Acheter sa nouvelle voiture d'occasion n'a jamais été aussi simple.</p>
                    </div>
                </div> 
                <div class="row mt-4 ">
                    <div class="col-md-4 text-center">
                        <p> <img src="../assets/images/pageicon/Budget.png" class="img-fluid"></p>
                        <h6 class="txt-h6">Budget</h6>
                        <p>Tout d'abord, vous définissez votre propre budget.</p>
    
                    </div>
                    <div class="col-md-4 text-center">
                       <p> <img src="../assets/images/pageicon/Personnalisation.png"  class="img-fluid"></p>
                        <h6 class="txt-h6">Personnalisation</h6>
                        <p>Tout d'abord, vous définissez votre propre budget.</p>
    
                    </div>              
                    <div class="col-md-4 text-center">                   
                          <p> <img src="../assets/images/pageicon/checked.png"  class="img-fluid"></p>
                        <h6 class="txt-h6">Résultats</h6>
                        <p>Tout d'abord, vous définissez votre propre budget.</p>
    
                    </div>
                </div>
                <div class="row mt-4 ">
                     <div class="col-md-12 text-center">
                        <p>
                        Simple, free and efficient, trusting <span class="txt-c1 fw-600">IDEALEVOITURE</span> for the purchase of your future
                        vehicle is the assurance of getting the best deal.
                        </p>
                        <h4 class="txt-c1 fw-600 mt-2">Trouver sa nouvelle voiture n'a jamais été aussi simple</h4>
                       
                      
                         </div>
                </div>
                <div class="row mt-2">
                   <div class="col-md-10 offset-md-1 text-center">
                    <img src="../assets/images/pageicon/page2group.png" class="img-fluid mt-3">
                    <button class="btn btn1-page2 mt-3 mb-2"> Voir le Tuto</button>
                   </div>

                </div>
               



            </div><!--container-->

           
        </div> <!-- content -->
           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
    </div>
    <!-- END wrapper -->
