
 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row"> 
                    
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Performances
                            <a routerLink="/Performanceinfo">
                                 <span class="txt-c1 txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            </a>
                            <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>
                        </h2>						
                    </div>						
                </div>
                <div class="row text-center">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center">Puissance</h2>
                    </div>
                    <div class="col-md-12 mt-2">
                        <p >Puissance Minimum en cheveaux   </p>                 
					</div>			                     			
                </div>               
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 text-left">
                        <img src="../assets/images/pageicon/cv_black.png">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12 mt-2">
                    <h2 class="">Vitesse</h2>
                    </div>
                    <div class="col-md-12 mt-2">
                        <p>Vitesse de pointe minimale : 50 km / h  </p>                
								
                    </div>					
                </div>
                   
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <img src="../assets/images/pageicon/vitesse.png">
                    </div>
                </div>
                   
                <div class="row">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center">Accélération</h2>
                    </div>					
                </div>
               
                <div class="row text-center">
                   
                    <div class="col-md-12 mt-2">
                        <p>En seconde de 0 à 100 km / h   </p> 
                    </div>          				
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <img src="../assets/images/pageicon/accelerator.png">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                    </div>					
                </div>
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
    </div>
    <!-- END wrapper -->
