<div id="seconnecter1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        
           <!-- <div class="modal-header text-center">
                  <p class="text-center"><img src="../assets/images/LogoTop.png" class="img-fluid"></p>                   
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>-->
            <div class="modal-body mbp-60">
                <p class="text-center"><img src="../assets/images/LogoTop.png" class="img-fluid"></p> 
            <div class="row text-center">
            <div class="col-md-12">
            <button class="btn btn1-page2 btn-block btn-lg text-white mt-2 fs-25">Je crée mon compte</button>
            </div>
            </div>
                
                <div class="row mt-3">
                
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<label for="field-1" class="control-label">Name *</label>-->
                            <input type="text" class="form-control" id="field-1" placeholder="Name *">
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="field-4" class="control-label">Prénom *</label>-->
                            <input type="text" class="form-control text-right" id="field-4" placeholder="Prénom *">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                 <div class="col-md-6">
                        <div class="form-group">
                           <!-- <label for="field-2" class="control-label">Email*</label>-->
                            <input type="text" class="form-control" id="field-2" placeholder="Email*">
                        </div>
                    </div>
                 <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="field-5" class="control-label">Téléphone </label>-->
                            <input type="text" class="form-control text-right" id="field-5" placeholder="Téléphone">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="field-3" class="control-label">Ville</label>-->
                            <input type="text" class="form-control" id="field-3" placeholder="Ville *">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="field-6" class="control-label">Code Postal *</label>-->
                            <input type="text" class="form-control text-right" id="field-6" placeholder="Code Postal *">
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                              <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkmeout0">
                    <label class="custom-control-label" for="checkmeout0">En cochant cette case, je certifie que j'ai pris connaissance et accepte sans réserve les Conditions Générales de 
                    Ventes et d'Utilisation proposées par IDEALEVOITURE.</label>
            </div> 
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-12 text-center">
                      <button class="btn btn-page52 text-white fs-15" data-toggle="modal" data-target="#seconnecter">Créer mon compte</button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div><!-- /.modal -->