<!-- Begin page -->
<div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2"> Transmission</h1>
                    <h2 class="txt-c1">Boîte de vitesse</h2>                   
                    </div> 
                </div>
                <div class="row mt-2">
                    <div class="card box-border box-gryb">							
                        <div class="card-body card-body1"> 												                             
                            <div class="col-md-12 mt-2">
                            <p>
                                La boite manuelle est évidemment un inconvénient dans les bouchons, il est également assez de
                                devoir changer l'embrayage pour les voitures kilométrées. Néanmoins elle présente certains avantages:
                                elle permet de consommer moins en général, vous ne subissez pas les passages de vitesse qui peuvent
                                procurer une sensation de désagréable selon le type de boîte automatique (à-coups, sensations de sentiments
                                dans le vide) et vous maîtrisez les reprises de vitesse.
                            </p>
                            <p>
                                La boite manuelle est évidemment un inconvénient dans les bouchons, il est également assez de devoir changer
                                l'embrayage pour les voitures kilométrées. Néanmoins elle présente certains avantages: elle permet de consommer
                                moins en général, vous ne subissez pas les passages de vitesse qui peuvent procurer une sensation de désagréable
                                selon le type de boîte automatique(à-coups, sensations de sentiments dans le vide) et vous maîtrisez les
                                reprises de vitesse.
                            </p>  
                            <p>  
                                Les 2 roues motrices sont à l'arrière : elles permettent un meilleur angle de braquage (pratique en ville) et
                                est assez prisé par les amateurs de conduite sportive.
                            </p> 
                            <p>    
                                Le contrôle de la voiture est également plus compliquée (l'électronique est là pour corriger vos trajectoires
                                sur la plupart des modèles) voire impossible dans des conditions hivernales (neige, verglas).
                            </p>  
                            <p>   
                                Un 4x4 offre une meilleure adhérence mais aura tendance à consommer plus : toutes les roues sont
                                motrices. La pose de pneus hiver est vivement recommandé voire obligatoire dans certains départements même
                                si vous avez 4x4
                            </p>
                           
                            </div>
                            <div class="col-md-12 text-center">
                             <button class="btn btn-page52 width-xl"> 	OK </button>
                            </div>
                                    
                        </div>
                    </div>                                     
                </div>
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <!-- <app-footer></app-footer> -->
 </div>
    