 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">                    
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Aide au stationnement
                            <a routerLink="/asiaaustationinfo">
                                <span class="txt-c1 "><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                            </a>
                            <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>			
                        </h2>						
                    </div>						
                </div>
                
                <div class="row text-center mt-4">
                    <div class="col-md-4">  
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="sicon1" type="checkbox" checked="checked">
                               <label for="sicon1"> </label>
                        </div>
                        <img src=".././assets/images/page16/boot.png">
                        <h6 class="fs-16">Coffre Main Libres</h6>
                        </div>
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="sicon2" type="checkbox">
                               <label for="sicon2"> </label>
                        </div>
                        <img src="../assets/images/page16/cam_recule.png">
                        <h6 class="fs-16">Park Assist</h6>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="siocn3" type="checkbox">
                               <label for="sicon3"> </label>
                        </div>
                        <img src="../assets/images/page16/park_assist.png">
                        <h6 class="fs-16">Caméra de recul</h6>
                        </div>
                    
                    </div>
                    
                </div>
                
                <div class="row text-center mt-3">
                
                    <div class="col-md-4"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="radio" type="checkbox" checked="checked">
                               <label for="radio"> </label>
                        </div>
                        <img src="../assets/images/page16/radar_arr.png" class="mt-2">
                        <h6 class="fs-16">Radar</h6>
                        </div>
                        
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="Streaming" type="checkbox">
                               <label for="Streaming"> </label>
                        </div>
                        <img src="../assets/images/page16/rearview_mirror.png"  class="mt-2">
                        <h6 class="fs-16">Rétroviseurs Extérieurs Rabattables électriquement</h6>
                        </div>								
                    </div>							
                    <div class="col-md-4"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="system" type="checkbox">
                               <label for="system"> </label>
                        </div>
                        <img src="../assets/images/page16/start_btn.png"  class="mt-2">
                        <h6 class="fs-16">Bouton démarrage sans clef</h6>
                        </div>								
                    </div>
                    
                </div>
                    
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                    </div>					
                </div>	
               
              
            
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>