<!-- Begin page -->
<div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2"> Catégorie de Véhicule</h1>
                   
                    </div>
                  </div>   
                  <div class="row mt-2 ">
                    <div class="card box-border box-gryb">							
                        <div class="card-body card-body1"> 															                             
                                
                                
                                <div class="col-md-12 mt-2">
                                <p>- Les citadines sont des autos faciles à garer de par leurs tailles, idéales pour la ville comme leur nom l'indique.
</p><p>
- Les compactes sont des voitures polyvalentes.
</p>
<p>
- Les berlines sont les routières par excellence.
</p>
<p>
- Les SUV sont des automobiles avec une forme bicorps plus hauts que les autres véhicules et pouvant posséder des capacités tout-terrain ou de remorquage.
</p>
<p>

- Les monospaces sont des véhicules plus hauts que les autres véhicules destinés à un usage avant tout familial.
</p>
<p>
- Les breaks sont des voitures berlines possédant une capacité de chargement accrue.
</p>
<p>
- Les cabriolets sont des automobiles dont le toit est entièrement rétractable.
</p>
<p>
- Les pick-up sont des SUV muni d'une benne à l'arrière.
</p>
<p>
- Les véhicules utilitaires légers ne sont pas encore disponibles sur la plateforme.
</p>
</div>
                                <div class="col-md-12 text-center">
                        <button class="btn btn-page52 width-xl"> 	OK </button>
                        </div>
                                    
                            </div>
                        </div>                                     
                    </div>
              
            
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <!-- <app-footer></app-footer> -->
 </div>
    