<!-- Begin page -->
<div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2"> Performances</h1>
                   <h2 class="txt-c1"> Puissance</h2>
                    </div>
                  </div> 
                <div class="row mt-2">
                    <div class="card box-border box-gryb">							
                        <div class="card-body card-body1"> 
                            <div class="col-md-12 text-center">
										<img src="../assets/images/pageicon/formule.png" class="img-fluid" width="50%">

									</div>												                             
                            <div class="col-md-12 mt-2">
                                <p>La puissance exprimée en cheval vapeur est le produit du couple et du régime.</p>
                                <p>Pour simplifier, le couple exprimé newton/mètre correspond à la force du moteur et le régime exprimé en tours/minute à la vitesse de rotation. Plus c'est fort et plus c'est rapide = plus c'est puissant.<br>
En général, un moteur diesel a un couple plus important qu'un moteur essence et inversement pour le régime. Sélectionnez si vous avez une préférence la puissance minimum souhaité ou pour les initiés le régime ou couple minimum que vous attendez.
</p>
<p>Vous avez également la possibilité de sélectionner les critères de vitesse dans l'icône dédié.</p>
<p>L'accélération de 0 à 100 km/km est donc chronométré départ arrêté. Ci-dessous notre grille de repère:</p>
<ul class="pul">
<li> - de 5 secondes = accélération de course</li>
<li> - de 8 secondes = accélération sportive</li>
<li> - de 11 secondes = accélération puissante</li>
<li> - de 11 secondes = accélération puissante</li>
<li> + de 14 de secondes = accélération douce.</li>

</ul>
                            </div>
                            <div class="col-md-12 text-center">
                             <button class="btn btn-page52 width-xl"> 	OK </button>
                            </div>
                                    
                        </div>
                    </div>                                     
                </div>
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    