body{
    background-color:#fff;    
    }
    .txt-c1{
    color:#1d4353;
    }
    .txt-c2{
    color:#4ca1af;
    }
    .fw-100{font-weight:100; font-size:28px;}
    .txt-h6{
    font-family: 'Montserrat';
    font-size:18px;
    font-weight:400;
    }
    ul.pul{list-style:none; margin-left:-30px;}
    .btn-page52
     {
        color: #fff;
        background-image: linear-gradient(to bottom, #326c7b 0%, 
        #224d5c 30%, #4898a7 100%);
        border-color: #336f7e;
        border-radius:25px;
       }
     .box-gryb{
     border: 1px solid #eae8e8;}
     .box-border{
border-radius:15px;}