 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
               <div class="row text-center">
                   <div class="col-md-12">
                    <img src="../../assets/images/LogoTop.png"class="img-fluid" >
                   </div>
                </div>
               
               
                <div class="row mt-4 text-center">
                    <div class="card box-border box-gryb">							
                        <div class="card-body card-body1"> 												                             
                            <div class="col-md-12 mt-2">
                                <img src="../../assets/images/LogoTop.png">
                                <p class="mt-2 fs-20">Vous visionnez cette publicité le temps que vos résultats s'affichent...</p>
                                <p class="text-center mt-0">
                                    <img src="../../assets/images/pageicon/page28.png"  width="100%">
                                </p>
                           
                            </div>                                                        
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12 text-center">
                    <span class="fs-60">
                        <i class="fa fa-spinner fa-spin" ></i>
                    </span>
                </div>
                </div>

            
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
