.content-page{
    background-color:#ffffff !important;
    font-family: 'Montserrat-Light';
 }
body{background-color:#ffffff !important;}
.box-gry{
    background-color: #f6f6f8;
    box-shadow: #1d4353 ;
}   
.btn-color{
    background-color:#1d4353
}
.box-gryb{
    border: 1px solid #eae8e8;
box-shadow: linear-gradient(to bottom, #326c7b 0%, 
#224d5c 30%, #4898a7 100%);}
.fs-20{
    font-size:24px;
}
.fs-60{font-size:60px; font-weight: 700;}