<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">
            <li class="dropdown notification-list topbar-dropdown">
                <a routerLink="/Maselectionservices" class="nav-link  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                   <span class="iv_button" rel="noopener" href="#" title="Ma sélection & services">
                        Ma sélection & services
                   </span>                        
                    <!-- <span class="badge badge-danger rounded-circle noti-icon-badge">2</span> -->
                </a>
            </li>
          
            <li class="dropdown notification-list ">
                <a  class="nav-link  nav-user mr-0 waves-effect waves-light" data-toggle="modal" data-target="#seconneter"  href="#" role="button" aria-haspopup="false" aria-expanded="false">                   
                    <span class="pro-user-name ml-1">
                     Se Connecter
                    </span>
                    <img src="../../assets/images/profile.png" alt="user-image" class="rounded-circle">
                </a>
                
            </li>
        </ul>
        <!-- LOGO -->
        <div class="logo-box">
            <a routerLink="/" class="logo logo-dark text-center ">
                <span class="logo-sm">
                    <img src="../../assets/images/LogoTop.png" height="14" class="mb-12">
                  
                </span>
                <span class="logo-lg">
                    <img src="../../assets/images/LogoTop.png" alt="" height="20" class="mb-12">
                 
                </span>
            </a>

            <a routerLink="/" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="../../assets/images/LogoTop.png" alt="" height="22" class="mb-12">
                </span>
                <span class="logo-lg">
                    <img src="../assets/images/LogoTop.png" alt="" height="20" class="mb-12">
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                </button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->