 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row ">                    
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2">Filtrer par Marques
                        <span class="txt-c1 txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        </h2>						
                    </div>						
                </div>
                <div class="row text-center mt-2">
                    <div class="col-md-3">  
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="abarth" type="checkbox" >
                               <label for="abarth"> </label>
                        </div>
                        <img src="../assets/images/page29/abarth.png"  class="mt-2 img-fluid" width="75%">
                        <h6 class="fs-16">  Abarth </h6>
                    </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="alfar" type="checkbox">
                               <label for="alfar"> </label>
                        </div>
                        <img src="../assets/images/page29/alfa_romeo.png" class="mt-2" width="42%">
                        <h6 class="fs-16">Alfa Roméo</h6>
                        </div>
                        
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right" > 
                              <input id="aston_martin" type="checkbox">
                               <label for="aston_martin"> </label>
                        </div>
                        <img src="../assets/images/page29/aston_martin.png" class="mt-4" width="100%" >
                        <h6 class="fs-16">Aston Martin</h6>
                        </div>
                    
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                    <div class="checkbox checkbox-circle mb-2 text-right" >
                              <input id="audi" type="checkbox">
                               <label for="audi"> </label>
                        </div>
                        <img src="../assets/images/page29/audi.png" class="mt-2"  width ="55%">
                        <h6 class="fs-16">Audi</h6>
                    </div>
                    </div>
                </div>
                <div class="row text-center mt-4">						
                    <div class="col-md-3"> 
                        <div class=" icon-box ">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="bentley" type="checkbox" >
                               <label for="bentley"> </label>
                        </div>
                        <img src="../assets/images/page29/bentley.png" class="mt-2">
                        <h6 class="fs-16">Bentley</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="bmw" type="checkbox" checked="checked">
                               <label for="bmw"> </label>
                        </div>
                        <img src="../assets/images/page29/bmw.png"  class="mt-2">
                        <h6 class="fs-16">BMW </h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cardilac" type="checkbox">
                               <label for="cadilac"> </label>
                        </div>
                        <img src="../assets/images/page29/cadillac.png"  class="mt-2" >
                        <h6 class="fs-16">Cadillac</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="catherman" type="checkbox">
                               <label for="catherman"> </label>
                        </div>
                        <img src="../assets/images/page29/caterham.png"  class="mt-2" >
                        <h6 class="fs-16">Catherman</h6>
                        </div>								
                    </div>
                </div>
                <div class="row text-center mt-4">						
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="chrysler" type="checkbox">
                               <label for="chrysler"> </label>
                        </div>
                        <img src="../assets/images/page29/chrysler.png" class="mt-2" >
                        <h6 class="fs-16">Chrysler</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="citron" type="checkbox">
                               <label for="citron"> </label>
                        </div>
                        <img src="../assets/images/page29/citroen.png"  class="mt-2">
                        <h6 class="fs-16">Citroën</h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="crovette" type="checkbox">
                               <label for="crovette"></label>
                        </div>
                        <img src="../assets/images/page29/corvette.png"  class="mt-2">
                        <h6 class="fs-16">Crovette</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="dacia" type="checkbox">
                               <label for="dacia"> </label>
                        </div>
                        <img src="../assets/images/page29/dacia.png"  class="mt-2">
                        <h6 class="fs-16">Dacia</h6>
                        </div>								
                    </div>
                </div>											
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> VALIDER</button>
                    </div>					
                </div>	                       
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
