 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row ">                    
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Siège 
                        <span class="txt-c1 "><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                        <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>	
                    </h2>						
                    </div>						
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <h2 class="text-center"> Siège conducteur</h2>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-md-3">  
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="sicon1" type="checkbox" checked="checked">
                               <label for="sicon1"> </label>
                        </div>
                        <img src="../assets/images/page11/confort_1.png">
                        <h6 class="fs-16">Réglages électriques</h6>
                        </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="sicon2" type="checkbox">
                               <label for="sicon2"> </label>
                        </div>
                        <img src="../assets/images/page11/confort_2.png">
                        <h6 class="fs-16">Sièges chauffants</h6>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="siocn3" type="checkbox">
                               <label for="sicon3"> </label>
                        </div>
                        <img src="../assets/images/page11/confort_3.png">
                        <h6 class="fs-16">Fonction massante</h6>
                        </div>
                    
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <h2 class="text-center"> Position de conduite</h2>
                    </div>
                </div>
                <div class="row text-center mt-4">
                
                    <div class="col-md-3"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="radio" type="checkbox" checked="checked">
                               <label for="radio"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_1.png" class="mt-2">
                        <h6 class="fs-16">Accoudoir central</h6>
                        </div>
                        
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="Streaming" type="checkbox">
                               <label for="Streaming"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_2.png"  class="mt-2">
                        <h6 class="fs-16">Réglages lombaires</h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="system" type="checkbox">
                               <label for="system"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_3.png"  class="mt-2">
                        <h6 class="fs-16">Dossier inclinable</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_4.png"  class="mt-2">
                        <h6 class="fs-16">Assise inclinable</h6>
                        </div>								
                    </div>
                    </div>
                    <div class="row mt-3">
                    <div class="col-md-3"> 
                    <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox" checked="checked">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_5.png"  class="mt-2">
                        <h6 class="fs-16">Réglage Longitudinal</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_6.png"  class="mt-2">
                        <h6 class="fs-16">Réglages Hauteur</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_7.png"  class="mt-2">
                        <h6 class="fs-16">Volant réglable en hauteur</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page11/pos_cond_8.png"  class="mt-2">
                        <h6 class="fs-16">Volant réglable en profondeur</h6>
                        </div>								
                    </div>
                </div>                
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                    </div>					
                </div>		
               
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
