 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page ">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    <h1 class="txt-c2 text-center">Ma sélection et Mes services</h1>
                    </div>
                </div>	
             
                <div class="row"> 
                    <div class="col-md-7">
                    <h2 class="txt-c1"> Ma sélection</h2>
                     <div class="card box-border box-gry">							
                        <div class="card-body card-body1"> 															                             
                            <div class="row">									
                                <div class="col-md-6">
                                    <img src="../assets/images/page3/car1.png" class="img-fluid ">
                                    </div>
                                    <div class="col-md-6"> 
                                    <img src="../assets/images/page3/abc.png"class="img-cross">
                                    <h3 class="txt-ad"><img src="../assets/images/page3/picon1.png" class="img-fluid" width="20%">/ 12000 kms
                                         </h3>
                                    <p class="txt-c1 txt-ad fs-10"> <span class="fw-600">CITROEN C1</span>
                                    VTi72 S&S Shine 3 Portes<br>
                                    <span class="txt-c1  fw-600 fs-16 text-center">11 591€</span><br>
                                    Valeur de marché constatée</p>
                                    <p> <span class="fpp-10"><img src="../assets/images/page3/fuel-station.png"></span>
                                     <span class="fpp-10"><img src="../assets/images/page3/door.png"></span>
                                      <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                       <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                    </p>
                                    <p><a routerLink="/Resultatderecheche">
                                         <span class="txt-c1 fw-600 txt-u">Retour aux résultats </span><br>
                                        </a>
                                         <span class="txt-c2">Plus d'informations </span></p>
                                </div>
                            </div>
                        </div>                                     
                    </div>
<div class="card box-border box-gry">							
                        <div class="card-body card-body1"> 															                             
                            <div class="row">									
                                <div class="col-md-6">
                                    <img src="../assets/images/page3/car1.png" class="img-fluid ">
                                    </div>
                                    <div class="col-md-6"> 
                                    <img src="../assets/images/page3/abc.png"class="img-cross">
                                    <h3 class="txt-ad"><img src="../assets/images/page3/picon1.png" class="img-fluid" width="20%">/ 12000 kms
                                         </h3>
                                    <p class="txt-c1 txt-ad fs-10"> <span class="fw-600">CITROEN C1</span>
                                    VTi72 S&S Shine 3 Portes<br>
                                    <span class="txt-c1 fw-600 fs-16 text-center">11 591€</span><br>
                                    Valeur de marché constatée</p>
                                    <p> <span class="fpp-10"><img src="../assets/images/page3/fuel-station.png"></span>
                                        <span class="fpp-10"><img src="../assets/images/page3/door.png"></span>
                                         <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                          <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                       </p>
                                    <p> <span class="txt-c1 fw-600 txt-u">Retour aux résultats </span><br>
                                    <span class="txt-c2">Plus d'informations </span></p>
                                </div>
                            </div>
                        </div>                                     
                    </div>
                     <div class="card box-border box-gry">							
                        <div class="card-body card-body1"> 															                             
                            <div class="row">									
                                <div class="col-md-6">
                                    <img src="../assets/images/page3/car1.png" class="img-fluid ">
                                    </div>
                                    <div class="col-md-6"> 
                                    <img src="../assets/images/page3/abc.png"class="img-cross">
                                    <h3 class="txt-ad"><img src="../assets/images/page3/picon1.png" class="img-fluid" width="20%">/ 12000 kms
                                         </h3>
                                    <p class="txt-c1 txt-ad fs-10"> <span class="fw-600">CITROEN C1</span>
                                    VTi72 S&S Shine 3 Portes<br>
                                    <span class="txt-c1 fw-600 fs-16 text-center">11 591€</span><br>
                                    Valeur de marché constatée</p>
                                    <p> <span class="fpp-10"><img src="../assets/images/page3/fuel-station.png"></span>
                                        <span class="fpp-10"><img src="../assets/images/page3/door.png"></span>
                                         <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                          <span class="fpp-10"><img src="../assets/images/page3/road.png"></span>
                                       </p>
                                    <p> <span class="txt-c1 fw-600 txt-u">Retour aux résultats </span><br>
                                    <span class="txt-c2">Plus d'informations </span></p>
                                </div>
                            </div>
                        </div>                                     
                    </div>
                        
                    </div>
                    <div class="col-md-5">
                        <h2 class="txt-c1"> Me services Gratuits</h2>
                        <div class="card box-border box-gry">
                            <div class="card-body">
                                <h3 class="txt-h3">Recherche de véhicule</h3>
                                <p class="fs-16"> Avec IDEALE VOITURE vous avez la possibilité de
                                rechercher votre véhicule vous-méme ou bien de nous mandater pour le véhicule de réves.<br>
                                Nous rechechons pour vous la voiture correspondant a vos besoinsau meilleure prix.</p>
                                 <h5 class="fw-600 txt-c1">Avantages: </h5> 
                                 
                                <span class="fs-16"> <img src="../../assets/images/page3/check.png"> Gratuit</span><br>
                                <span class="fs-16"> <img src="../../assets/images/page3/check.png">  Rapide</span><br>
                                <span class="fs-16"> <img src="../../assets/images/page3/check.png">  Sans Engagement</span><br>
                                <p class="text-center">
                                <button class="btn btn1-page3 mt-1 text-white"> <img src="../../assets/images/page3/search.png" width="30px">Je souhaite être accompagné</button>
                            </p>
                            </div>                                     
                        </div> 
                        <div class="card box-border box-gry">
                            <div class="card-body">
                                <h3 class="txt-h3">Assurance</h3>										
                                <p class="fs-16">Obtenir une estimation des différents tarifs et garanties
                                du marché de l’assurance peut s'avérer difficile.</p>
                                <p class="fs-16"> Grace a la simulation<br>
                                d'assurance auto,il est facile d'obtenir une estimation du cout d'une police
                                d'assurance et de la protection qu'elle procure avec a la clé le meilleure contact.
                                </p>
                                <p class="text-center">
                                <button class="btn btn1-page3 btn-block"> <img src="../../assets/images/page3/btnicon.png" width="33px">Je compare les assurances</button>
                                </p>									
                            </div>                                     
                        </div> 
                    </div>
                    
                </div>
                <!-- start page title -->                      
               
                <div class="row">
                <div class="col-md-12 text-center">
                <span class="txt-c1 fw-600 txt-u" >Voir toute ma sélection...</span>
                </div>
                </div>

             

               
                

            </div><!--cf-->
           

            
        </div> <!-- content -->
           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
    </div>
    <!-- END wrapper -->
