body{
    background-color:#ffffff !important;
}
.content-page{
    background-color:#ffffff!important;
}
.box-gry{
background-color: #f6f6f8;}

.btn-color{
    background-color:#1d4353
}
.fw-600{
    font-weight:700;
}
.txt-c1{
color:#1d4353;
}
.txt-c2{
color:#4ca1af;
}
.txt-u{    
    text-decoration: underline;
}
.btn1-page3 {
    box-shadow: 0 0 0 rgba(241,85,108,.5);
}
.btn1-page3 {
    color: #fff;
    background-color: #1d4353;
    border-color:#1d4353;
}
.fs-16{
    font-size:16px
}
.fs-10{
    font-size:10px;
}
.card-body1{
    padding:0px;
}
.img-cross{
float: right;
margin: -11px;}
.fpp-10{
 padding:10px;
}