<!-- Begin page -->
<div id="wrapper">
    <app-header></app-header>
   
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2">Sécurité</h1>                   
                    </div>
                     <div class="col-md-12 text-center">
                    <h2 class="txt-c1">Notation Sécurité</h2>                   
                    </div>
                </div> 
                <div class="card box-border box-gryb mt-2">							
                    <div class="card-body card-body1 "> 
                        <br>														                             
                        <p class="mt-3 mb-3  ptxt">
                            Les notes de sécurité sont issues des test crash réalisé par l'organisme européen Euro Ncap.
                        </p>
                          <p>Légende :</p>
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>  Faible (0-20%)</td>
                                        <td class="text-left">
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td> Passable (20-40%)</td>
                                        <td class="text-left">
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td>  Correcte (40-60%)</td>
                                        <td class="text-left">
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                             <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td>    Bien (60-80%)</td>
                                        <td class="text-left">
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td>   Très bien (80-100%)</td>
                                        <td class="text-left">
                                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                            <span  class="txt-c2 mleft"> <i class="fas fa-star fa-1x"></i></span>
                                        </td>                                       
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                        
                        <div class="col-md-12 text-center">
                            <button class="btn btn-page52 width-xl"> 	OK </button>
                        </div>     
                        <br>                               
                    </div>
                </div> 
               
                   
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <!-- <app-footer></app-footer> -->
 </div>
    <!-- END wrapper -->