.content-page{
    background-color:#ffffff !important;
    font-family: 'Montserrat-Light';
 }
 .bg-white{ background-color:#ffffff !important;}
body{background-color:#ffffff !important;}
.box-gry{
    background-color: #f6f6f8;
}   
.btn-color{
    background-color:#1d4353
}
.txt-c1{
    color:#1d4353;
    }
.txt-c2{
    color:#4ca1af;
    }
.txt-u{  
    text-decoration: underline;
}
.fs-16{
 font-size:17px;
    margin-top:20px;
    font-family:'Montserrat-Light';
    color:#2c3e50;
    }
