 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row"> 
                   
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2">Résultats de ma recherche
                        <span class="txt-c1 "><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                        <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>			
                    </h2>						
                    </div>						
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-center">
                       <button class="btn ">Modifier vos critères</button>
                    </div>
                </div>
				<div class="row">
				 <div class="col-md-12">
				 <p> <a routerLink="/Filterparmarques">Filtrer par Marques</a>
				 
				 </p>
				 </div>
				</div>
               
                 
               
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
