 <!-- Begin page -->
 <div id="wrapper">
<app-header></app-header>
<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button>Carmatch votre guide d'achat personnalisé</button>
                    <h2> Trouvez votre prochaine voiture facilement</h2>
                    <h1> QU'EST-CE QUE IDEALEVOITURE</h1>
                    <p>IDEALEVOITURE est un moteur de recherche dédié à l'automobile pouvant vous accompagner jusqu'à l'acquisition de votre nouveau véhicule.</p>
               <h1>COMMENT ÇA FONCTIONNE</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>


        </div> <!-- container -->

    </div> <!-- content -->
    

            
</div>
<!-- End Page content -->

<app-footer></app-footer>
</div>
<!-- END wrapper -->