
 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row mt-2">                    
                    <div class="col-md-12">	
                         <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>							
                        <h2 class="text-center txt-c2"> Habileté
                            <a routerLink="/">
                                 <span class="txt-c1 txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            </a>
                        </h2>						
                    </div>						
                </div>
                <div class="row text-center">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center">Places</h2>
                     <img src="../assets/images/pageicon/ID2places.png" width="8%">
                    </div>
                    <div class="col-md-12">                       
                       <p> 2 Places minimum    </p>
                       <input type="range" min="1" max="100" value="50">
                   
                      
                    </div>                     			
                </div>                            
                <div class="row text-center">
                    <div class="col-md-12 mt-2">
                    <h2 class="">Portes</h2>
                     <img src="../assets/images/pageicon/hasard.png" width="10%">
                    </div>
                    <div class="col-md-12 mt-2">
                        <p>Sans portes arrièresPeu importeAvec portes arrières</p>
                    </div>					
                </div>                   
                <div class="row text-center">
                    <div class="col-md-12 mt-2">
                    <h2 class="">Coffre</h2>
                    <p>2 Valises minimum  </p> 
                    </div>	
                   
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center">Porte du coffre</h2>
                    </div>					
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 text-center ">
                        <div class="checkbox checkbox-circle mb-2  ">
                            <img src="../assets/images/pageicon/hayon1.png" width="28%" class="mright20 ">
                            <input id="malle" type="checkbox" checked="checked">
                             <label for="malle"><span class="fs-18"> Malle</span> </label>
                        </div>                    
                    </div>
                    <div class="col-md-4 text-center ">
                        <div class="checkbox checkbox-circle mb-2  ">
                            <img src="../assets/images/pageicon/malle1.png" width="28%" class="mright20 ">
                            <input id="hyone" type="checkbox" >
                             <label for="hyone"><span class="fs-18"> Hyone</span> </label>
                        </div>                    
                    </div>
                    <div class="col-md-4 text-center ">
                        <div class="checkbox checkbox-circle mb-2  ">
                            <img src="../assets/images/pageicon/peu_importe.png" width="28%" class="mright20 ">
                            <input id="peuimorte" type="checkbox" >
                             <label for="peuimorte"><span class="fs-18">Peu importe</span>  </label>
                        </div>                    
                    </div>
                   
                </div>
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl">VALIDER</button>
                    </div>					
                </div>              
            </div><!--cf-->           
        </div> <!-- content -->           
    </div>    
    <app-footer></app-footer>
    </div>
    <!-- END wrapper -->
