 <!-- Begin page -->
 <div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                       <span class="iv_button" rel="noopener" href="#" title="Ma sélection & services">
                            Ma sélection & services
                       </span>                        
                        <span class="badge badge-danger rounded-circle noti-icon-badge">2</span>
                    </a>
                </li>
              
                <li class="dropdown notification-list ">
                    <a class="nav-link  nav-user mr-0 waves-effect waves-light" data-toggle="" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                       
                        <span class="pro-user-name ml-1">
                        My compte 
                        </span>
                        <img src="../../assets/images/profile.png" alt="user-image" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">My Compte !</h6>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- LOGO -->
            <div class="logo-box">
                <a href="index.html" class="logo logo-dark text-center ">
                    <span class="logo-sm">
                        <img src="../../assets/images/LogoTop.png" height="14" class="mb-12">
                        <!-- <span class="logo-lg-text-light">UBold</span> -->
                    </span>
                    <span class="logo-lg">
                        <img src="../../assets/images/LogoTop.png" alt="" height="20" class="mb-12">
                        <!-- <span class="logo-lg-text-light">U</span> -->
                    </span>
                </a>

                <a href="index.html" class="logo logo-light text-center">
                    <span class="logo-sm">
                        <img src="../../assets/images/LogoTop.png" alt="" height="22" class="mb-12">
                    </span>
                    <span class="logo-lg">
                        <img src="../assets/images/LogoTop.png" alt="" height="20" class="mb-12">
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect waves-light">
                        <i class="fe-menu"></i>
                    </button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->
    
    <div class="content-page ">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
               <div class="row">
                   <div class="col-md-2"> <br><br></div>
                   <div class="col-md-8">
                       <p class="text-center mt-0">
                           <img src="../../assets/images/LogoTop.png" class="img-responsive" width="50%">
                       </p>
                   </div>
                   <div class="col-md-2"></div>
               </div><!--r-->
               
               <div class="row text-center ">
                   <div class="col-md-12">
                    <h3 class="h3txt mb-0">Le moteur de recherche pour trouver sa voiture idéale</h3>
                    <p class="text-italic"> Quel modèle ? Quel degré d’ancienneté ? Quelle finition ?
                    <br>
                    Vous connaitrez toutes les possibilités qui répondent à vos attentes pour faire le meilleur choix.
                    </p>   
                   </div><!--cd12-->
                  
               </div>
               <div class="row"> <div class="col-md-3"></div>
                   <div class="col-md-6 text-center">
                       <!-- <button class="btn btn-primary">   35000 <button class="btn btn-danger"> hiii</button></button> -->
                       <button type="button" class="btn  btn-sm btn-success1 waves-effect waves-light">
                        J'ai un budget de <span class="iv_color">35 000 € </span>
                             <button type="button" class="btn btn-soft-primary btn-rounded waves-effect waves-light">
                            Vair les modeles
                            </button>
                        </button>
                   </div>
                   <div class="col-md-3"></div>
               </div>

               
                <div class="row text-center mt-1">
                    <div class="col-md-12">
                     <p class="txt-12"> <a href="#">Selectionnes/Affinez Vos Criteres</a><br>          
                   <span  class="txt_underline txt-12">Reinitialiser <i class="fas fa-redo"></i> </span></p>
                   
                    </div>
 
 
                </div>

            </div><!--cf-->
           

            <div class="container mb-1">
                <div class="row text-center">
                    <div class="col-md-2">
                        <img src="../../assets/images/eco-car.png" class="img-responsive"  style="width: 36%;" >
                        <p class="img-txt"> Cate`gorie Vechicule</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/path.png" class="img-responsive" style="width: 24%;" >
                        <p class="img-txt"> Energie</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/127.png" class="img-responsive" style="width:17%;" >
                        <p class="img-txt"> Transmission</p>
                    </div>      
                   
                    <div class="col-md-2 col-sm-6">
                        <img src="../../assets/images/ecocar1.png" class="img-responsive"  style="width:33%;">
                        <p class="img-txt"> Ecologie</p>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <img src="../../assets/images/car.png" class="img-responsive" style="width:21%;" >
                        <p class="img-txt"> Design Exterieur</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/grou1.png" class="img-responsive"  style="width: 21%;">
                        <p class="img-txt"> Aide a la conduite</p>
                    </div>
                    
                </div><!--row1-->
                <div class="row text-center mt-1 ">
                    <div class="col-md-2">
                        <img src="../../assets/images/7.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"> Aide au Stationnement</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/8.png" class="img-responsive"  style="width: 30%;">
                        <p class="img-txt"> Sécurité</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/9.png" class="img-responsive"  style="width:45%;">
                        <p class="img-txt"> Habilité</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/10.png" class="img-responsive" style="width: 19%;" >
                        <p class="img-txt">Siège</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/11.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"> Confort</p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/12.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"> Performances</p>
                    </div>
                   
                </div><!--row2-->
                
            </div><!--imgend-->
           

<div class="sec3">
        
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-6 cl-sm-12">
                      <p class="">
                          <img src="../../assets/images/footericon.png" class="img-responsive "width="200" >
                      </p>
        <p class="mt-1 p-botm1">Notre guide d'achat gratuit vous permettra de trouver rapidement le véhicule correspondant 
            à vos besoins tant en terme d'équipements que de budget. Notre système vous proposera 
            à chaque fois les modèles classés par degré d'ancienneté (âge / kilométrage) en fonction de sa côte sur le marché. Cela vous donnera l'assurance d'obtenir à chaque fois la meilleure sélection de véhicules.</p>
                    </div>
                    <div class="col-md-3">
                        <h5>Liens Utiles</h5>
                        <span class="p-botm">Devonir Parteanaires</span><br>
                        <span class=" p-botm">A Propos</span><br>
                        <span  class="p-botm">Le Blog</span><br>
                        <span class="p-botm">FAQ</span><br>
                        <span class="p-botm">Contactez-nous</span>
                    </div>
                    <div class="col-md-3">
                        <h5>Contact</h5>
                        <span class="f-600">Paris-France</span><br>
                        <span class="f-600">+ 33633036303</span><br>
                        <span>conatct@carmatch.fr</span><br>
                       
                      
                        <p>
                            <span class="fs_30 mr-1 iv_icon_color"><i class="fab fa-facebook" aria-hidden="true"></i></span>                            
                            <span class="fs_30 mr-1 iv_icon_color"><i class="fab fa-instagram" aria-hidden="true"></i></span>
                            <span class="fs_30 mr-1 iv_icon_color"><i class="fab fa-twitter-square" aria-hidden="true"></i></span>
                          </p>
                     
                        </div>
        
                </div>
            </div>
        </div>
        

    <div class="container-fluid footer_b">
        <div class="row">
            <div class="col-md-9">
                
<p class="pbtext">Nous utillsons des cookies pour vous garanitr la milleure experience sue notre site web. Si Vous continuez a` utillise ce site, nous supposerous que vous en etes satisfalt.</p>
            </div>
            <div class="col-md-3 text-center ">
                <button class="btn btn-danger btn-rounded mb-1 ">&nbsp; &nbsp; J`accepte &nbsp; &nbsp; </button>
            </div>


        </div>
    </div>


        </div> <!-- content -->

    </div>

  
</div>
<!-- END wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>