
<!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row ">                    
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Ecologie
                            <a routerLink="/Ecologieinfo">
                                <span class="txt-c1"><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                            </a>
                             <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>			
                    </h2>						
                    </div>
                    <div class="col-md-12 text-center">
                        <h2>Classe CRIT'AIR</h2>
                    </div>						
                </div>
               
                <div class="row text-center mt-3">
                    <div class="col-md-2">  
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="rv" type="checkbox" checked="checked">
                               <label for="rv"> </label>
                        </div>
                        <img src="../assets/images/pageicon/class-1.png" class="img-fuild" width="80%">
                      
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="lv" type="checkbox">
                               <label for="lv"> </label>
                        </div>
                        <img src="../assets/images/pageicon/class-2.png" class="img-fuild" width="80%">
                        
                        </div>                        
                    </div>                    
                    <div class="col-md-2"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="aiauto" type="checkbox" >
                               <label for="aiauto"> </label>
                        </div>
                        <img src="../assets/images/pageicon/class-3.png" class="img-fuild" width="80%">
                      
                        </div>                    
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="lavesglace" type="checkbox">
                               <label for="lavesglace"> </label>
                        </div>
                        <img src="../assets/images/pageicon/class-4.png"  class="img-fuild" width="80%">
                       
                        </div>								
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cargps" type="checkbox">
                               <label for="cargps"> </label>
                        </div>
                        <img src="../assets/images/pageicon/class-5.png"  class="img-fuild"  width="80%">                      
                        </div>								
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="mirror" type="checkbox">
                               <label for="mirror"> </label>
                        </div>
                        <img src="../assets/images/pageicon/ve.png"  class="img-fuild" width="80%">                       
                        </div>								
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                    <h2>Niveau de Pollution</h2>
                    <p>Emission de CO2 Acceptable</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6 text-center">
                        <div class="box-b">
                            <p class="mt-2">Classe CO2<br> TVS (Professionnel 2020) : 5875**
                            <button class="btn btn-page52"><span class="fs-35"> G</span></button>
                        </p>                
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row text-center mt-2">
                    <div class="col-md-12">
                       <h3 class="txt-c1"> Cherchez-vous une voiture éligible à la prime à la reconversion ?</h3>
                    </div>

                </div>

               
                    
                <div class="row mt-4 mb-4 mb-3">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> VALIDER</button>
                   
                </div>					
                </div>
               
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
