
<div id="wrapper">
    <app-header></app-header> 
    
    <div class="content-page">
        <div class="content">
            <div class="container">
 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box">                                    
            <h4 class="txt-h3">Mon compte</h4>
        </div>
    </div>
</div>  
 <div class="row bgcom">
                            <div class="col-12">
                                <div class="card box-border">
                                    <div class="card-body">
                                        <h3 class="txt-h3">Mes informations</h3>                                        
                                        <div class="row">
										<div class="col-md-12">
                                           <label class="ltxt"> Votre Nom</label>
										  </div>
												<div class="col-md-6">
												<div class="form-group mb-3">
                                                     
                                                        <input type="text" id="simpleinput" class="form-control" placeholder="Phillipe">
                                                    </div>
												</div>
												<div class="col-md-6">
												<div class="form-group mb-3">
                                                      
                                                        <input type="text" id="simpleinput" class="form-control" placeholder="Schuller">
                                                    </div>
												</div>
                                          <div class="col-md-12">
										  <p class="txt-c1 fw-600">Email :<span class="txt-c2" >monmail@mail </span></p>
										  <p class="txt-c1 fw-600">Utilisez cette adresse e-mail pour vous connecter sur votre compte et recevoir des
											emails de Carmatch. Vous pouvez également<span class="txt-c2" > changer votre mot de passe</span> si vous le souhaitez.</p>
											</div>										  
                                        
                                        </div>
                                        <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <div class="row bgcom">
                            <div class="col-12">
                                <div class="card box-border">
                                    <div class="card-body">
                                        <h3 class="txt-h3"> Mandats de recherhce</h3>
										<p class="txt-c1 fw-600"> VOS MANDATS DE RECHERCHE EN COURS : Aucun Mandat</p>
                                      </div>
                                     
                                </div> 
                            </div>
                        </div>
                        <div class="row bgcom">
                            <div class="col-12">
                                <div class="card box-border">
                                    <div class="card-body">
                                        <h3 class="txt-h3">Notifications</h3>
										<p class="txt-c1 fw-600">Recevez les notifications importantes de Carmatch sur votre bureau,
										lorsqu'une nouvelle information vous concernant est disponible.</p>
                                        
                                           <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                    <label class="custom-control-label txt-c1 fw-600" for="customSwitch1"> Activer</label>
                                                </div>
                                              
                                      </div>                                     
                                </div> 
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row bgcom">
                            <div class="col-12">
                                <div class="card box-border">
                                    <div class="card-body">
                                      <h3 class="txt-h3"> Confidentialité des données</h3>
                                      <p class="txt-c1 fw-600">Télécharger l'intégralité des <span class="txt-c2" >Conditions Générales </span>et de la 
										<span class="txt-c2" >Politique de Protection des Données </span>au format PDF.</p>
                                        <p class="txt-c1 fw-600">Accepter les communications de Carmatch</p>
                                        <p class="txt-c1 fw-600"> Recevez en plus des informations classiques, tous les bons plans de nos
                                        partenaires pour obtenir la meilleure  eperience possible.</p>
                                         
                                       <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label txt-c1 fw-600" for="customSwitch1"> Activer</label>
                                    </div>
                                       <p class="txt-c1 fw-600">Accord sur le traitement des données</p>
									<p class="txt-c1 fw-600"> Téléchargez le contrat concernant la protection et le traitement des données Personnelles entre vous en tant que Responable
									du traitement des données et Carmatch en tant que sous traitant. <span class="txt-c2" > Télécharger le contrat</span></p>
                                    </div>
                                     
                                </div> 
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row bgcom">
                            <div class="col-12">
                                <div class="card box-border ">
                                    <div class="card-body">
                                        <h3 class="txt-h3"> Suppression du compte</h3>
										<p class="txt-c1 fw-600">Vous pouvez supprimer votre compte à tout moment. Ce dernier ainsi que
										vos données seront définitivement supprimes. Attention Cette operation est irreversible.</p>
                                    <button class="btn btn-danger">SUPPRIMER</button>
									</div>                                     
                                </div> 
                            </div>
                        </div>
						 <!-- end row -->

            </div><!--container-->
        </div> <!-- content -->
				
    </div>
    <!-- End Page content -->
<app-footer></app-footer>
</div>
<!-- END wrapper -->