
 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
   
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2"> Aide au stationnement</h1>                   
                    </div>
                </div> 
                <div class="card box-border box-gryb mt-2">							
                    <div class="card-body card-body1 text-center"> 
                        <br>														                             
                        <p class="mt-3 mb-3  ptxt">
                            Le park assist est une fonction qui permet au véhicule de se garer presque tout seul
                        </p>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-page52 width-xl"> 	OK </button>
                        </div>     
                        <br>                               
                    </div>
                </div> 
               
                   
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <!-- <app-footer></app-footer> -->
 </div>
    <!-- END wrapper -->
