
.content-page{background-color:#ffffff !important;}
body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #ffffff !important;
}
.bg-white{
    background-color:#fff !important;
}
.txt-c1{
color:#1d4353;
}
.txt-c2{
color:#4ca1af;
}
.fw-100{font-weight:100; font-size:28px;}
.txt-h6{
font-family: 'Montserrat';
font-size:18px;
font-weight:400;
}
ul.pul{list-style:none; margin-left:-30px;}
.btn-page52
 {
        color: #fff;
        background-image: linear-gradient(to bottom, #326c7b 0%, 
        #224d5c 30%, #4898a7 100%);
        border-color: #336f7e;
        border-radius:25px;
   }
 .box-gryb{
 border: 1px solid #eae8e8;}.btn-page52
 {
        color: #fff;
        background-image: linear-gradient(to bottom, #326c7b 0%, 
        #224d5c 30%, #4898a7 100%);
        border-color: #336f7e;
        border-radius:25px;
   }
 .box-gryb{
 border: 1px solid #eae8e8;}
 .card-box {
    background-color: #fff;
    padding: 1.5rem;
    /*box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);*/
    margin-bottom: 24px;
border-radius:15px;
}
.box-border{
    border-radius:15px;}
.ptxt{
    color:#2c3e50;
}