 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row ">                     
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Confort 
                        <span class="txt-c txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>
                    </h2>						
                    </div>						
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <h2 class="text-center"> Connectivité</h2>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-md-3">  
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="wifi" type="checkbox" checked="checked">
                               <label for="wifi"> </label>
                        </div>
                        <img src="../assets/images/page10/reseau_wifi.png">
                        <h6 class="fs-16">Réseau WIFI</h6>
                        </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="tactile" type="checkbox">
                               <label for="tactile"> </label>
                        </div>
                        <img src="../assets/images/page10/tactile.png">
                        <h6 class="fs-16">Ecran tactile</h6>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="bluetooth" type="checkbox">
                               <label for="bluetooth"> </label>
                        </div>
                        <img src="../assets/images/page10/bluetooth_tel.png">
                        <h6 class="fs-16">Bluetooth</h6>
                        </div>
                    
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                    <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="commands" type="checkbox">
                               <label for="commands"> </label>
                        </div>
                        <img src="../assets/images/page10/volant.png">
                        <h6 class="fs-16">Commandes au volant</h6>
                    </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <h2 class="text-center"> Audio</h2>
                    </div>
                </div>
                <div class="row text-center mt-4">
                
                    <div class="col-md-3"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="radio" type="checkbox" checked="checked">
                               <label for="radio"> </label>
                        </div>
                        <img src="../assets/images/page10/radio.png" class="mt-2">
                        <h6 class="fs-16">Radio</h6>
                        </div>
                        
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="Streaming" type="checkbox">
                               <label for="Streaming"> </label>
                        </div>
                        <img src="../assets/images/page10/streaming.png"  class="mt-2">
                        <h6 class="fs-16">Streaming</h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="system" type="checkbox">
                               <label for="system"> </label>
                        </div>
                        <img src="../assets/images/page10/stereo.png"  class="mt-2">
                        <h6 class="fs-16">Système stéréo</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cd" type="checkbox">
                               <label for="cd"> </label>
                        </div>
                        <img src="../assets/images/page10/cd.png"  class="mt-2">
                        <h6 class="fs-16">CD</h6>
                        </div>								
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                    <h2 class="text-center"> Climatisation</h2>
                    </div>					
                </div>
                <div class="row text-center mt-4">
                <div class="col-md-2"> </div>
                    <div class="col-md-4"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="manual" type="checkbox" checked="checked">
                               <label for="manual"> </label>
                        </div>
                        <img src="../assets/images/page10/air_cond.png"  class="mt-2">
                        <h6 class="fs-16">Manuel ou Automatique</h6>
                        </div>								
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="auto" type="checkbox">
                               <label for="auto"> </label>
                        </div>
                        <img src="../assets/images/page10/clim_auto.png"  class="mt-2">
                        <h6 class="fs-16">Automatique</h6>
                        </div>
                        
                    </div>
                    <div class="col-md-2"> </div>						
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                    <h2 class="text-center"> PRISES</h2>
                    </div>					
                </div>
                <div class="row text-center mt-4">						
                    <div class="col-md-4"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right" >
                              <input id="usb" type="checkbox" checked="checked">
                               <label for="usb"> </label>
                        </div>
                        <img src="../assets/images/page10/prise_usb.png"  class="mt-2">
                        <h6 class="fs-16"> Prise USB </h6>
                        </div>
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="prise12v" type="checkbox">
                               <label for="prise12v"> </label>
                        </div>
                        <img src="../assets/images/page10/prise_12v.png"  class="mt-2">
                        <h6 class="fs-16"> Prise  12V </h6>
                        </div>
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="prisejack" type="checkbox">
                               <label for="prisejack"> </label>
                        </div>
                        <img src="../assets/images/page10/prise_auxiliaire.png"  class="mt-2">
                        <h6 class="fs-16">Prise Jack</h6>
                        </div>
                    </div>                               
                </div>	
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                    </div>					
                </div>
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
    </div>
    <!-- END wrapper -->
