 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row "> 
                    <div class="col-md-12">
                       
                    </div>
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Catégorie de Véhicule
                        <a routerLink="/Categorieinfo">
                        <span class="txt-c1 txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </a>
                    <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>								
                    </h2>	
                    
                    </div>						
                </div>
                <div class="row text-center mt-2">
                    <div class="col-md-3">  
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="wifi" type="checkbox" >
                               <label for="wifi"> </label>
                        </div>
                        <img src="../assets/images/page13/petiteCitadine.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Petite citadine (<3m70)</h6>
                    </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="Petite" type="checkbox">
                               <label for="Petite"> </label>
                        </div>
                        <img src="../assets/images/page13/citadine.png" class="mt-2" width="75%">
                        <h6 class="fs-16"> Citadine (<3m70)</h6>
                        </div>
                        
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right" > 
                              <input id="bluetooth" type="checkbox">
                               <label for="bluetooth"> </label>
                        </div>
                        <img src="../assets/images/page13/compacte.png" class="mt-2"  width="75%">
                        <h6 class="fs-16">Compacte (<4m50)</h6>
                        </div>                    
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                    <div class="checkbox checkbox-circle mb-2 text-right" >
                              <input id="commands" type="checkbox">
                               <label for="commands"> </label>
                        </div>
                        <img src="../assets/images/page13/berline.png" class="mt-2" width="75%">
                        <h6 class="fs-16">Grande Routière (>4m50)</h6>
                    </div>
                    </div>
                </div>
                <div class="row text-center mt-4">						
                    <div class="col-md-3"> 
                        <div class=" icon-box ">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="radio" type="checkbox" >
                               <label for="radio"> </label>
                        </div>
                        <img src="../assets/images/page13/petitsuv.png" class="mt-2" width="75%">
                        <h6 class="fs-16">Radio</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="psuv" type="checkbox" checked="checked">
                               <label for="psuv"> </label>
                        </div>
                        <img src="../assets/images/page13/suv.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Petit SUV (<4m50)</h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="suv" type="checkbox">
                               <label for="suv"> </label>
                        </div>
                        <img src="../assets/images/page13/petitbreak.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">SUV (<4m50)</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="break" type="checkbox">
                               <label for="break"> </label>
                        </div>
                        <img src="../assets/images/page13/break.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Break (>4m50)</h6>
                        </div>								
                    </div>
                </div>
                <div class="row text-center mt-4">						
                    <div class="col-md-3"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="pmonospance" type="checkbox" checked="checked">
                               <label for="pmonospace"> </label>
                        </div>
                        <img src="../assets/images/page13/petitmonospace.png" class="mt-2" width="75%">
                        <h6 class="fs-16">Petit Monospace (<4m50)</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="gmonospace" type="checkbox">
                               <label for="gmonospace"> </label>
                        </div>
                        <img src="../assets/images/page13/monospace.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Grand Monospace (>4m50)</h6>
                        </div>								
                    </div>							
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cabriolet" type="checkbox">
                               <label for="cabriolet"></label>
                        </div>
                        <img src="../assets/images/page13/cabriolet.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Cabriolet</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                    <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right" width="75%">
                              <input id="pickup" type="checkbox">
                               <label for="pickup"> </label>
                        </div>
                        <img src="../assets/images/page13/pickup.png"  class="mt-2" width="75%">
                        <h6 class="fs-16">Pick-up</h6>
                        </div>								
                    </div>
                </div>											
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> VALIDER</button>
                    </div>					
                </div>	              
               
            </div><!--cf-->           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->   
    <app-footer></app-footer>
 </div>
<!-- END wrapper -->
