 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row"> 
                   
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Aide à la conduite
                        <span class="txt-c1 "><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                        <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>			
                    </h2>						
                    </div>						
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-center">
                        <h2>Aide Routière</h2>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-md-2">  
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="rv" type="checkbox" checked="checked">
                               <label for="rv"> </label>
                        </div>
                        <img src="../assets/images/page19/rv.png" class="img-fuild" width="80%">
                        <h6 class="fs-13">Régulateur vitesse</h6>
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="lv" type="checkbox">
                               <label for="lv"> </label>
                        </div>
                        <img src="../assets/images/page19/lv.png" class="img-fuild" width="80%">
                        <h6 class="fs-13">Limitateur vitesse</h6>
                        </div>                        
                    </div>                    
                    <div class="col-md-2"> 
                    <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="aiauto" type="checkbox" checked="checked">
                               <label for="aiauto"> </label>
                        </div>
                        <img src="../assets/images/page19/al_auto.png" class="img-fuild" width="80%">
                        <h6 class="fs-13">Allumage auto des feux de route</h6>
                        </div>
                    
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="lavesglace" type="checkbox">
                               <label for="lavesglace"> </label>
                        </div>
                        <img src="../assets/images/page19/lave_glace.png"  class="img-fuild" width="65%">
                        <h6 class="fs-13">Essuie-glaçe Auto</h6>
                        </div>								
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="cargps" type="checkbox">
                               <label for="cargps"> </label>
                        </div>
                        <img src="../assets/images/page19/car_gps.png"  class="img-fuild"  width="51%">
                        <h6 class="fs-13">Navigation Intégrée</h6>
                        </div>								
                    </div>
                    <div class="col-md-2"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="mirror" type="checkbox">
                               <label for="mirror"> </label>
                        </div>
                        <img src="../assets/images/page19/rearview_mirror.png"  class="img-fuild" width="50%">
                        <h6 class="fs-13">Rétroviseurs électriques</h6>
                        </div>								
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                    <h2>Option Phare</h2>
                    </div>
                </div>

                <div class="row text-center mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right ">
                              <input id="oicon1" type="checkbox" checked="checked">
                               <label for="oicon1"> </label>
                        </div>
                        <img src="../assets/images/page19/img_visibilite_1.png" class="mt-2">
                        <h6 class="fs-16">Feux de route premium ( Xénon, Laser ou Led ) </h6>
                        </div>
                        
                    </div>
                    <div class="col-md-4"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="oicon2" type="checkbox">
                               <label for="oicon2"> </label>
                        </div>
                        <img src="../assets/images/page19/img_visibilite_2.png"  class="mt-2">
                        <h6 class="fs-16">Option Phare</h6>
                        </div>								
                    </div>							
                    <div class="col-md-2"></div>
                    
                </div>
                    
                <div class="row mt-4 mb-3">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                   
                </div>					
                </div>
               
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
