 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">                      
                <div class="row">          
                    <div class="col-md-12 text-center">
                    <h1 class="txt-c2"> Ecologie</h1>
                   <h2 class="txt-c1"> Classe CRIT'AIR</h2>
                    </div>
                  </div> 
                <div class="row mt-2 ">
                    <div class="card box-border box-gryb">							
                        <div class="card-body card-body1">														                             
                         <div class="col-md-12 mt-2">
                            <p>Choisissez les niveaux Crit'air acceptables selon vos préférences. La vignette Crit'Air est obliga¬toire 
                                pour circuler dans certaines agglomérations. Des interdictions de circulation selon le niveau Crit'Air
                                existent lors d'épisode de pollution.

                                </p>
                                <p>* :L'achat d'un véhicule particulier jamais immatriculé en France entraîne un bonus ou un malus selon le 
                                niveau de C02 émis : sont donc concernées seulement les véhicules neufs ou d'occasion importées non 
                                encore immatriculées. Le bonus 2019 concerne uniquement les véhicules électriques.
                    </p><p>
                    Pour les véhicules importées non immatriculées, il faut se référer à l'année du véhicule. 
                    Le calcul du bonus ou malus sera applicable selon la grille du ministère de l'année de mise en circulation dudit véhicule: unabattement de 
                    10% sera applicable pour chaque année écoulée depuis la date de mise en circulation.
                    </p><p>
                    ** : Si vous êtes une société, nous vous invitons à lire les informations sur la TVS 
                    ici.
                    </p> 

                        </div>
                        <div class="col-md-12 text-center">
                        <button class="btn btn-page52 width-xl"> 	OK</button>
                        </div>
                                    
                            </div>
                        </div>                                     
                    </div>
             </div> <!-- container -->
		
     </div> <!-- content -->           
</div>
    <!-- End Page content -->
    
    <!-- <app-footer></app-footer> -->
</div>
    <!-- END wrapper -->
