
.bg-white{ background-color: #fff!important;}
body{
    background-color:#ffffff !important;
}
.content-page{
    background-color:#ffffff!important;
}
.text-italic{
    font-size: 13px;
    font-style: italic;
}
.btn-sm {
    padding: 2px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 35px
  }
  .btn-success1 {
      color: #255265;
      background-color: #fff;
      border-color: #1abc9c;
      font-size:16px;
      padding-top:5px;
      padding-bottom: 5px;
      padding-left:12px;
      padding-right:12px;
  }
  .btn-soft-primary{
    color:#fff;
    background-image: linear-gradient(0deg, #255265, #4790a1);
   
  }
  .mb-12{
      margin-bottom: 12px;
  padding-left:5px;
}
.txt-12{
      font-size:12px;
}
.txt_underline{
    text-decoration: underline;
}
.color_white{
    color: white;
}
.linka{
    color: #509eb4; 
    font-size:13px;
}
.img-txt{
    color:#2e656c;
    font-size:13px;
    margin-top:10px;
}