
.bg-white{ background-color: #fff!important;}
body{
    background-color:#ffffff !important;
}
.content-page{
    background-color:#ffffff!important;
}
.text-italic{
    font-size: 13px;
    font-style: italic;
}
.btn-sm {
    padding: 2px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 35px
  }
  .btn-success1 {
      color: #255265;
      background-color: #fff;
      border-color: #1abc9c;
      font-size:16px;
      padding-top:5px;
      padding-bottom: 5px;
      padding-left:12px;
      padding-right:12px;
  }
  .btn-soft-primary{
    color:#fff;
    background-image: linear-gradient(0deg, #255265, #4790a1);
   
  }
  .mb-12{
      margin-bottom: 12px;
  padding-left:5px;
}
.txt-12{
      font-size:12px;
}
.txt_underline{
    text-decoration: underline;
}
.color_white{
    color: white;
}
.linka{
    color: #509eb4; 
    font-size:13px;
}
.img-txt{
    color:#2e656c;
    font-size:13px;
    margin-top:10px;
}


//model css
.btn1-page2 {
    box-shadow: 0 0 0 rgba(241,85,108,.5);
}
.btn1-page2 {
    color: #fff;
    background-color:#1d4353;
    border-color: #1d4353;
}
.btn-page62{
    color: #fff;
    background-color: #347281;
    border-color: #347281;
	border-radius:25px;
	padding-left:50px;
	padding-right:50px;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 810px !important;
    margin: 1.75rem auto;
}
}
@media (min-width: 320px){
.mbp-60{padding:65px !important;}
}
.mbp-60{padding:50px;}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .9rem + 2px);
    padding: 29px 20px;
    font-size: .875rem;
    font-weight: 400;
	font-family:'Montserrat-Light';
    line-height: 1.5;
    color: #1d4353;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #707070 !important;
	border-radius:0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.fs-25{font-size:25px;}
.fs-20 {font-size:20px;}
.modal-content{border-radius:30px;}
.txt-u{text-decoration:underline;}