 <!-- Begin page -->
 <div id="wrapper">
    <app-header2></app-header2>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
               <div class="row">
                   <div class="col-md-2"> <br><br></div>
                   <div class="col-md-8">
                       <p class="text-center mt-0">
                           <img src="../../assets/images/LogoTop.png" class="img-fluid" width="50%">
                       </p>
                   </div>
                   <div class="col-md-2"></div>
               </div><!--r-->
               
               <div class="row text-center ">
                   <div class="col-md-12">
                    <h3 class="h3txt mb-0">Le moteur de recherche pour trouver sa voiture idéale</h3>

                    <p class="text-italic mt-1"> Quel modèle ? Quel degré d’ancienneté ? Quelle finition ?
                    <br>
                    Vous connaitrez toutes les possibilités qui répondent à vos attentes pour faire le meilleur choix.
                    </p>   
                   </div><!--cd12-->
                  
               </div>
               <div class="row"> <div class="col-md-3"></div>
                   <div class="col-md-6 text-center">
                       
                       <button type="button" class="btn  btn-sm btn-success1 waves-effect waves-light">
                        J'ai un budget de <span class="iv_color">35 000 € </span>
                            <a routerLink="../validationrecherche"> <button type="button" class="btn btn-soft-primary btn-rounded waves-effect waves-light">
                            Vair les modeles
                            </button></a>
                        </button>
                   </div>
                   <div class="col-md-3"></div>
               </div>

               
                <div class="row text-center mt-2">
                    <div class="col-md-12">
                     <p class="txt-12 "> <a href="#">Selectionnes/Affinez Vos Criteres</a><br>          
                   <span  class="txt_underline txt-12">Reinitialiser <i class="fas fa-redo"></i> </span></p>
                   
                    </div>
 
 
                </div>

            </div><!--cf-->
           

            <div class="container mb-1">
                <div class="row text-center">
                    <div class="col-md-2">
                        <img src="../../assets/images/eco-car.png" class="img-responsive"  style="width: 36%;" >
                        <p class="img-txt "><a routerLink="../categoriedevehicule"><span class="linka">
                            Cate`gorie Vechicule</span></a></p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/path.png" class="img-responsive" style="width: 24%;" >
                        <p class="img-txt"><a routerLink="../Energie">
                            <span class="linka">Energie</span></a> </p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/127.png" class="img-responsive" style="width:17%;" >
                        <p class="img-txt"> <a routerLink="../Transmission"> 
                            <span class="linka">Transmission </span></a></p>
                    </div>      
                   
                    <div class="col-md-2 col-sm-6">
                        <img src="../../assets/images/ecocar1.png" class="img-responsive"  style="width:33%;">
                        <p class="img-txt"> <a routerLink="../Ecologie"><span class="linka"> Ecologie</span> </a></p>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <img src="../../assets/images/car.png" class="img-responsive" style="width:21%;" >
                        <p class="img-txt"> <a routerLink="../Designexterieur"> 
                            <span class="linka"> Design Exterieur</span> </a>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/grou1.png" class="img-responsive"  style="width: 21%;">
                        <p class="img-txt"><a routerLink="../Adialaconduite">
                            <span class="linka"> Aide a la conduite</span>  </a></p>
                    </div>
                    
                </div><!--row1-->
                <div class="row text-center mt-1 ">
                    <div class="col-md-2">
                        <img src="../../assets/images/7.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"> <a routerLink="../Aideaustation">
                            <span class="linka"> Aide au Stationnement </span> </a></p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/8.png" class="img-responsive"  style="width: 30%;">
                        <p class="img-txt"> <a routerLink="../Securite">
                            <span class="linka">Sécurité</span> </a></p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/9.png" class="img-responsive"  style="width:45%;">
                        <p class="img-txt"> <a routerLink="../Habilete">
                            <span class="linka">Habilité</span></a></p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/10.png" class="img-responsive" style="width: 19%;" >
                        <p class="img-txt"><a routerLink="../Siege">
                            <span class="linka">Siège</span></a></p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/11.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"><a routerLink="../Confort">
                            <span class="linka">Confort</span></a> </p>
                    </div>
                    <div class="col-md-2">
                        <img src="../../assets/images/12.png" class="img-responsive"  style="width: 27%;">
                        <p class="img-txt"><a routerLink="../Performance">
                            <span class="linka"> Performances</span></a> </p>
                    </div>
                   
                </div><!--row2-->
                
            </div><!--imgend-->
           
        </div> <!-- content -->
           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
    </div>
    <app-page5></app-page5>
    <!-- END wrapper -->
    <div id="seconneter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
            
               <!-- <div class="modal-header text-center">
                      <p class="text-center"><img src="../assets/images/LogoTop.png" class="img-fluid"></p>                   
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>-->
                <div class="modal-body mbp-60">
                    <p class="text-center"><img src="../assets/images/LogoTop.png" class="img-fluid"></p> 
                <div class="row text-center">
                <div class="col-md-12">
                <button class="btn btn1-page2 btn-block btn-lg text-white mt-2 fs-25">Se connecter</button>
                </div>
                </div>
                    
                    <div class="row mt-3">
                    
                        <div class="col-md-12">
                            <div class="form-group">                                                             
                                <input type="text" class="form-control" id="field-1" placeholder="Identifiant *">
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class="form-group">                                                              
                                <input type="text" class="form-control" id="field-4" placeholder="Mote de passe *">
                            </div>
                        </div>
                       
                    </div>                                             
                  
                    <div class="row mt-2">
                        <div class="col-md-12 text-center">                                                          
                               <p> Mot de passeMot de passe oublié</p>
                                <p>
                                 <span class="txt-u" data-toggle="modal" data-target="#seconnecter1" data-dismiss="modal">
                                 Vous n'avez pas de compte ? Créez en un en cliquant ici ! 
                                </span></p>
                            
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-12 text-center">
                          <button class="btn btn-page62 text-white fs-20">Connexion</button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div><!-- /.modal -->