 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">
                <div class="row mt-2"> 				
					<div class="col-md-12">								
					<h2 class="text-center txt-c2"> Design Extérieur 
						<span class="txt-c1 txt-i"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>			
                    </h2>						
						</div>						
				</div>
				<!-- <div class="row">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center"> Couleurs</h2>
                    </div>					
                </div>						
                <div class="row">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center"> Roues</h2>
                    </div>					
                </div>
                <div class="row text-center mt-3">
                    <div class="col-md-3"> </div>
                    <div class="col-md-3"> 
                        <div class="icon-box box-b">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="manual" type="checkbox" checked="checked">
                               <label for="manual"> </label>
                        </div>
                        <img src="../assets/images/pageicon/jante.png"  class="mt-2">
                        <h6 class="fs-19  mt-2">Janetes Permium</h6>
                        </div>								
                    </div>
                    <div class="col-md-3"> 
                        <div class="icon-box">
                        <div class="checkbox checkbox-circle mb-2 text-right">
                              <input id="auto" type="checkbox">
                               <label for="auto"> </label>
                        </div>
                        <img src="../assets/images/pageicon/unknown.png"  class="mt-2">
                        <h6 class="fs-19 mt-2">Jantes Classiques</h6>
                        </div>
                        
                    </div>
                    <div class="col-md-3"> </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 mt-2">
                    <h2 class="text-center"> Toit</h2>
                    </div>					
                </div> -->
                
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
