 <!-- Begin page -->
 <div id="wrapper">
    <app-header></app-header>
    <div class="content-page bg-white ">
        <div class="content">
            <!-- Start Content-->
            <div class="container">               
                <div class="row">                   
                    <div class="col-md-12">								
                        <h2 class="text-center txt-c2"> Transmission
                        <a routerLink="/Transmissioninfo"> <a routerLink="/"><span class="float-right txt-c2 fs-35"> &#10005;</span></a>	
                        <span class="txt-c1 "><i class="fa fa-info-circle txt-i" aria-hidden="true"></i></span>
                    </a>
                    </h2>                   					
                    </div>	
                    <div class="col-md-12 text-center mt-2">
                    <h3 class="txt-c1"> Boîte de vitesse</h3>
                    <img src="../assets/images/pageicon/pi_bv.png" width="15%">
                    </div>							
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                    <a class="btn btn-gr2" href="#" role="button">Boîte Manuelle</a>
                    <a class="btn btn-gr1" href="#" role="button">Peu importe</a>
                    <a class="btn btn-gr2" href="#" role="button">Boîte Automatique</a>
                  </div>
                    </div>
                  
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                     <h3 class="txt-c1"> Motricité des roues</h3>
                     <img src="../assets/images/pageicon/pi_motricite.png" width="15%" class="mt-2">
                     </div>	
                 </div>
                 <div class="row mt-3">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                    <a class="btn btn-gr2" href="#" role="button"><span class="txt-c1">4 * 4</span></a>
                    <a class="btn btn-gr1" href="#" role="button"><span class="txt-white">Peu importe</span></a>
                    <a class="btn btn-gr2" href="#" role="button"><span class="txt-c1">4 * 4 </span></a>
                     </div>
                    </div>
                    <div class="col-md-2"> </div>

                </div>
                
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                    <button class="btn btn-page52 width-xl"> 	VALIDER</button>
                    </div>					
                </div>
            
              
            </div><!--cf-->
           
        </div> <!-- content -->           
    </div>
    <!-- End Page content -->
    
    <app-footer></app-footer>
 </div>
    <!-- END wrapper -->
